/*!----- MAIN -----*/
/*!----------------*/

html {
    border: black solid 5px;
    width: 100vw;
    height: 100vh;
    padding: 10px;

    /* display: flex; */
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
}

/*?----- IDs ----- */
/*?----------------*/
#main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#buttons {
    height: auto;
    width: 30vw;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 20px;
    border: black solid 2px;

}
#task-list {
    height: auto;
    width: 50vw;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: black solid 2px;

}
#task-list h2 {
    border-bottom: black solid 2px;
}

#ls-currently {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 300px;
    width: auto;
    border: red dashed 2px;
}

/**----- CLASSES -----*/
/**-------------------*/
.button {
    width: 40%;
    height: 50px;
}

.completed {
    
    text-decoration: line-through;
}